@model Fitness.Models.Part

@{
    ViewBag.Title = "Details";
}
<h2 class="text-primary">@Model.Name Measurements</h2>

@if (ViewBag.NoMeasurements == false)
{

<div class="col-md-12" id="chart">
    <img src="@Url.Action("CreateChart", Model)" style="width: 100%; height: auto; max-width: 1000px"/>
</div>

<p>
    @Html.ActionLink("Add new entry", "Create", "Measurements", new { id = Model.PartID }, new { @class = "btn btn-success" })
    @Html.ActionLink("Edit", "Edit", "Parts", new { id = Model.PartID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Delete this part", "Delete", "Parts", new { id = Model.PartID }, new { @class = "btn btn-danger" })
</p>

<table class="table">
    <tr>
        <th>
            Part
        </th>
        <th>
            Value
        </th>
        <th>
            Date Recorded
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Measurements.OrderByDescending(x => x.DateRecorded))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Part.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @item.DateRecorded.ToShortDateString()
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Measurements", new { id = item.MeasurementID }, null) |
                @Html.ActionLink("Details", "Details", "Measurements", new { id = item.MeasurementID }, null) |
                @Html.ActionLink("Delete", "Delete", "Measurements", new { id = item.MeasurementID }, null)
            </td>
        </tr>
    }

</table>
}
else
{
    <h4 class="text-warning">No measurements recorded</h4>
    @Html.ActionLink("Add new entry", "Create", "Measurements", new { id = Model.PartID }, new { @class = "btn btn-success" })
}
