@model Fitness.Models.Part

@{
    ViewBag.Title = "Details";
}
<h2 class="text-primary">@Model.Name Measurements</h2>
@Html.ActionLink("Add new entry", "Create", "Measurements   ", new { id = Model.PartID }, new { @class = "btn btn-warning" })
@Html.ActionLink("Edit", "Edit", "Parts", new { id = Model.PartID}, new { @class = "btn btn-warning"})
@Html.ActionLink("Delete this part", "Delete", "Parts", new { id = Model.PartID }, new { @class = "btn btn-warning" })

@if (ViewBag.NoMeasurements == false)
{

<div class="col-md-12" id="chart">
    <img src="@Url.Action("CreateChart", Model)" height="600" width="800"/>
</div>

<table class="table">
    <tr>
        <th>
            Part
        </th>
        <th>
            Value
        </th>
        <th>
            Date Recorded
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Measurements)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Part.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @item.DateRecorded.ToShortDateString()
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MeasurementID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MeasurementID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MeasurementID })
            </td>
        </tr>
    }

</table>
}
else
{
    <h4 class="text-warning">No measurements recorded</h4>
}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PartID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
