@model Fitness.Models.ExerciseList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExerciseList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>

@if (ViewBag.NoStrength == false ||  ViewBag.NoAerobic == false)
{
       <div class="col-md-12" id="chart">
            <img src="@Url.Action("CreateChart", Model)" height="600" width="800" />
        </div>

    if (Model.Type == "Strength")
    {
        <table class="table">
            <tr>
                <th>
                    Reps
                </th>
                <th>
                    Sets
                </th>
                <th>
                    Weight
                </th>
                <th>
                    Date Recorded
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.StrengthExercises)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rep)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Weight)
                    </td>
                    <td>
                        @item.DateRecorded.ToShortDateString()
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "StrengthExercises", new { id = item.ExerciseID }, null) |
                        @Html.ActionLink("Details", "Details", "StrengthExercises", new { id = item.ExerciseID }, null) |
                        @Html.ActionLink("Delete", "Delete", "StrengthExercises", new { id = item.ExerciseID }, null)
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    Duration
                </th>
                <th>
                    Length
                </th>
                <th>
                    Date Recorded
                </th>
                <th>
                    Exercise Name
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.AerobicExercises)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Length)
                    </td>
                    <td>
                        @item.DateRecorded.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExerciseList.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "AerobicExercises", new { id = item.AerobicExerciseID }, null) |
                        @Html.ActionLink("Details", "Details", "AerobicExercises", new { id = item.AerobicExerciseID }, null) |
                        @Html.ActionLink("Delete", "Delete", "AerobicExercises", new { id = item.AerobicExerciseID }, null)
                    </td>
                </tr>
            }

        </table>
        }

}
else
{
    <h4 class="text-warning">No data recorded</h4>
}

<p>
    @Html.ActionLink("Add new entry", "Create", Model.Type == "Strength" ? "StrengthExercises" : "AerobicExercises", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Edit Exercise", "Edit", "ExerciseLists", new { id = Model.ExerciseListID }, new { @class = "btn btn-default" })
    @Html.ActionLink("Delete Exercise", "Delete", "ExerciseLists", new { id = Model.ExerciseListID }, new { @class = "btn btn-warning" })
    
</p>
