@model Fitness.Models.AerobicExercise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AerobicExercise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRecorded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRecorded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExerciseList.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseList.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AerobicExerciseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
