@model IEnumerable<Fitness.Models.FoodIntake>

@{
    ViewBag.Title = "Index";
}

<h2>Food Intake</h2>

<p>
    @Html.ActionLink("Add a new entry", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            
            @Html.DisplayNameFor(model => model.Food.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRecorded)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Food.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servings)
        </td>
        <td>
            @item.DateRecorded.ToShortDateString()
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FoodIntakeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FoodIntakeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FoodIntakeID })
        </td>
    </tr>
}

</table>
